name: Sync Leetcode

on:
  workflow_dispatch:      
  schedule:
    - cron:  "0 8 * * 6,0" 

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write    
    steps:
      - name: Sync
        uses: joshcai/leetcode-sync@v1.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          leetcode-csrf-token: ${{ secrets.LEETCODE_CSRF_TOKEN }}
          leetcode-session: ${{ secrets.LEETCODE_SESSION }}
          destination-folder: practice
